*{
    margin: 0;
}
body{
    padding: 10px;
}
header{
    /*background-image: url(../assets/img/hawaii.jpg);*/
    background:linear-gradient(to right, #000000d4, #00000094, #00000085),url(../assets/img/hawaii.jpg);
    color: white;
    background-size: cover;
}
.contenedorNav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.logoNav{
    display: flex;
    background-color:rgb(53,58, 64);
    font-size: 1.5rem;
}
.logo a{
    width: 5px;
    justify-content: end;
}
.headerLogo{
    width: 100%;
    background-color: rgb(53, 58, 64);
}
.listaHeader{
    font-size: 20px;
    margin-right: 70px;
    margin-bottom: 50px;
    list-style: none;
    display: inline;
    padding: 5px;   
    }
.colorWhite{
color: white;
}
.colorGris{
    color: gray;
}
.colorVerde{
    color: rgb(148, 203, 59);
}
.colorVerde:hover{
    border: 2px solid rgb(148, 203, 59);
    background-color: rgb(148, 203, 59);
    border-radius: 5px;
}
.logoNav{
    color: aliceblue;
    font-size: 1.5rem;
}
.linkNav{
    text-decoration: none;
    display: inline-block;    
}
header ul li{
    display: inline;
    margin-right: 10px;
}
.conferencia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}
.contenedorConf{
    height: 100px;
    width: 40%;
    font-size: 1rem;
    margin-top: 30px;
    justify-content: flex-end;
}
.titulo{
    position: relative;
}
.botones{
    height: 100px;
    margin-top: 80px;
    margin-right: 30px;
}
.botones a{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-top: 30px;
}
.botones a:hover{
    border-color:#c78c19;
}
.botonVerde{
    background-color: green;
}
.conoce{
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.conoce:hover{
    border-color:rgb(53,58, 64);
}
.formulario-oradores{
    text-align: center;
    margin: 5px 5px 5px 10px;
}
.enviar{
    text-align: center;
    width: 40%;
    padding: 10px 0;
    font-size: 15px;
    color: white;
    display: inline-block;
    background: rgb(148, 203, 59);
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
.enviar:hover {
    background: rgb(148, 203, 59);
    transform: scale(1.1);
}
.botonVerde{
    background: rgb(148, 203, 59);
}
.botonVerde:hover{
    transform: scale(1.1);
    border-color: rgb(148, 203, 59);
    background: rgb(148, 203, 59);
}
.footer{
    width: 100%;
    background-image: linear-gradient(to right, #1d3744, #1d3e4f, #1d455a, #1d4c66, #1e5372);
    display: flex;
    margin-top: 10px;
    height: 15vh;
    /*justify-content: center;*/
    justify-content: space-evenly;
    justify-content: space-around;
}
.listafooter {
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    align-items: center; 
}
.listafooter a{
width: 100%;
color: white;
display: inline;
text-decoration: none;
margin-right: 80px;
}
footer ul li{
    display: inline;
}
.titulo-gral{
    font-size: 25px;
}
    